html {
  height: 100%
}

body {
font-family: 'Quicksand', sans-serif;
height: 100%;
background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
background-repeat: no-repeat;
text-align: center;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.homePage-text1 {
  color: white;
  padding-top: 15%;
  font-size: 40px;
}

.homePage-text2 {
  color: white;
  padding-top: 70px;
  font-size: 30px;
}

#upper-box {
  border-radius: 7px;
  background: white;
  width: 50%;
  height: 40%%;
  margin-top: .1%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
}

 .meditate-icon {
  margin-top:4%;
  max-width: 12%;
}

.mouse-over:hover {
  color: white;
  background-color: #74A4C2;
}

.hidden {
  display: none!Important;
}

#quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background: white;
  height: 20%;
  width:70%;
  margin-top: 70px;
}

.message-button {
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom: .5%;
  padding-top: .75%;
  padding-bottom: .75%;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 14px;
  background: #3D6F91;
  color: #ffffff;
}

.clear-message-button {
  border-radius: 5px;
  padding-top: .75%;
  padding-bottom: .75%;
  padding-right: 6.4%;
  padding-left: 6.4%;
  margin-bottom: 5%;
  font-size: 14px;
  background: #3D6F91;
  color: #ffffff;
}

#left-radio-text {
font-style: italic;
margin-top: 40px;
margin-right: 100px;
padding-right: 50px;
}

#right-radio-text {
  font-style: italic;
}
